# Clean the DataSet.

### 1º Import all the libraries that i will need use.

In [1]:
import numpy as np
import pandas as pd

### 2º Import the DataSet.

In [2]:
#from funtions_cleaning import import_csv

#path = "../data/paro_2020.csv"
#import_csv(path)

In [3]:
def introduce_path():
    return input("Introduce the path of the file : ")

In [4]:
path = introduce_path()

Introduce the path of the file : ../data/paro_2020.csv

In [5]:
def import_csv(path):
    return pd.read_csv(path,encoding = "ISO-8859-1")

In [6]:
data = import_csv(path)

### 3º Check the DataSet.

In [7]:
data.shape

(89446, 20)

In [8]:
data.columns

Index(['Código mes ', 'mes', 'Código de CA', 'Comunidad Autónoma',
       'Codigo Provincia', 'Provincia', 'Codigo Municipio', ' Municipio',
       'total Paro Registrado', 'Paro hombre edad < 25',
       'Paro hombre edad 25 -45 ', 'Paro hombre edad >=45',
       'Paro mujer edad < 25', 'Paro mujer edad 25 -45 ',
       'Paro mujer edad >=45', 'Paro Agricultura', 'Paro Industria',
       'Paro Construcción', 'Paro Servicios', 'Paro Sin empleo Anterior'],
      dtype='object')

In [9]:
data.head(3)

,Código mes,mes,Código de CA,Comunidad Autónoma,Codigo Provincia,Provincia,Codigo Municipio,Municipio,total Paro Registrado,Paro hombre edad < 25,Paro hombre edad 25 -45,Paro hombre edad >=45,Paro mujer edad < 25,Paro mujer edad 25 -45,Paro mujer edad >=45,Paro Agricultura,Paro Industria,Paro Construcción,Paro Servicios,Paro Sin empleo Anterior
0,202001,Enero de 2020,1,Andalucía,4,Almería,4001,Abla,84,6,11,27,4,25,11,13,3,4,55,9
1,202001,Enero de 2020,1,Andalucía,4,Almería,4002,Abrucena,76,5,10,19,8,17,17,7,4,13,44,8
2,202001,Enero de 2020,1,Andalucía,4,Almería,4003,Adra,1989,92,347,415,78,541,516,362,67,198,1178,184

### 4º Remove all the duplicate data.

In [10]:
def remove_duplicates(data):
    return data.drop_duplicates()

In [11]:
data = remove_duplicates(data)
data.shape

(89446, 20)

### 5º Remove some columns.

In [12]:
def remove_columns(data):
    return data.drop(columns = ["Codigo Provincia","Provincia","Codigo Municipio"," Municipio"])

In [ ]:
data = remove_columns(data)

### 6º Check the columns through which i want to filter.

In [13]:
data["Comunidad Autónoma"].unique()

array(['Andalucía', 'Aragón', 'Asturias; Principado de', 'Balears; Illes',
       'Canarias', 'Cantabria', 'Castilla y León', 'Castilla - La Mancha',
       'Cataluña', 'Comunitat Valenciana', 'Extremadura', 'Galicia',
       'Madrid; Comunidad de', 'Murcia; Región de',
       'Navarra; Comunidad Foral de', 'País Vasco', 'Rioja; La', 'Ceuta',
       'Melilla'], dtype=object)

In [14]:
print(" Total Comunidades Autónomas :",len(data["Comunidad Autónoma"].unique()))

 Total Comunidades Autónomas : 19

In [15]:
data["mes"].unique()

array(['Enero de 2020', 'Febrero de 2020', 'Marzo de 2020',
       'Abril de 2020', 'Mayo de 2020', 'Junio de 2020', 'Julio de 2020',
       'Agosto de 2020', 'Septiembre de 2020', 'Octubre de 2020',
       'Noviembre de 2020'], dtype=object)

In [16]:
print(" Total months :",len(data["mes"].unique()))

 Total months : 11

### 7 º Group by `mes` and `Comunidad Autónoma`.

In [17]:
def groupby_columns(data):
    return data.groupby(['mes','Comunidad Autónoma'])['total Paro Registrado', 'Paro hombre edad < 25',
       'Paro hombre edad 25 -45 ', 'Paro hombre edad >=45',
       'Paro mujer edad < 25', 'Paro mujer edad 25 -45 ',
       'Paro mujer edad >=45', 'Paro Agricultura', 'Paro Industria',
       'Paro Construcción', 'Paro Servicios', 'Paro Sin empleo Anterior'].sum()

In [21]:
data1 = groupby_columns(data)
data1[:19]

<ipython-input-17-d3c4b184eca6>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  return data.groupby(['mes','Comunidad Autónoma'])['total Paro Registrado', 'Paro hombre edad < 25',

                                           total Paro Registrado  \
mes           Comunidad Autónoma
Abril de 2020 Andalucía                                   978297
              Aragón                                       79214
              Asturias; Principado de                      83793
              Balears; Illes                               72542
              Canarias                                    254981
              Cantabria                                    43669
              Castilla - La Mancha                        199019
              Castilla y León                             166354
              Cataluña                                    467810
              Ceuta                                        11899
              Comunitat Valenciana                        439942
              Extremadura                                 115445
              Galicia                                     191629
              Madrid; Comunidad de                        405023
              Melilla                                       9350
              Murcia; Región de                           114208
              Navarra; Comunidad Foral de                  40442
              País Vasco                                  138643
              Rioja; La                                    18943

                                           Paro hombre edad < 25  \
mes           Comunidad Autónoma
Abril de 2020 Andalucía                                    43593
              Aragón                                        4269
              Asturias; Principado de                       3047
              Balears; Illes                                4789
              Canarias                                      9645
              Cantabria                                     1772
              Castilla - La Mancha                          9538
              Castilla y León                               7679
              Cataluña                                     18857
              Ceuta                                          632
              Comunitat Valenciana                         19919
              Extremadura                                   5592
              Galicia                                       4919
              Madrid; Comunidad de                         16496
              Melilla                                        599
              Murcia; Región de                             5628
              Navarra; Comunidad Foral de                   2125
              País Vasco                                    5617
              Rioja; La                                      734

                                           Paro hombre edad 25 -45   \
mes           Comunidad Autónoma
Abril de 2020 Andalucía                                      190621
              Aragón                                          14028
              Asturias; Principado de                         16267
              Balears; Illes                                  15672
              Canarias                                        47987
              Cantabria                                        8453
              Castilla - La Mancha                            32143
              Castilla y León                                 29040
              Cataluña                                        88979
              Ceuta                                            2168
              Comunitat Valenciana                            75798
              Extremadura                                     19211
              Galicia                                         35436
              Madrid; Comunidad de                            74174
              Melilla                                          1385
              Murcia; Región de                               19538
              Navarra; Comunidad Foral de                      7718
              País Vasco                                      27291
              Rioja; La                                        3258

                                           Paro hombre edad >=45  \
mes           Comunidad Autónoma
Abril de 2020 Andalucía                                   194878
              Aragón                                       15627
              Asturias; Principado de                      18868
              Balears; Illes                               13212
              Canarias                                     59819
              Cantabria                                     9646
              Castilla - La Mancha                         37755
              Castilla y León                              36903
              Cataluña                                    104691
              Ceuta                                         2114
              Comunitat Valenciana                         92286
              Extremadura                                  22668
              Galicia                                      44627
              Madrid; Comunidad de                         86517
              Melilla                                       1682
              Murcia; Región de                            21823
              Navarra; Comunidad Foral de                   7753
              País Vasco                                   29797
              Rioja; La                                     4120

                                           Paro mujer edad < 25  \
mes           Comunidad Autónoma
Abril de 2020 Andalucía                                   42170
              Aragón                                       3851
              Asturias; Principado de                      2723
              Balears; Illes                               4497
              Canarias                                     8571
              Cantabria                                    1571
              Castilla - La Mancha                         8840
              Castilla y León                              6723
              Cataluña                                    16566
              Ceuta                                         748
              Comunitat Valenciana                        17711
              Extremadura                                  5272
              Galicia                                      4631
              Madrid; Comunidad de                        15554
              Melilla                                       720
              Murcia; Región de                            5545
              Navarra; Comunidad Foral de                  1966
              País Vasco                                   5077
              Rioja; La                                     636

                                           Paro mujer edad 25 -45   \
mes           Comunidad Autónoma
Abril de 2020 Andalucía                                     261692
              Aragón                                         19993
              Asturias; Principado de                        20084
              Balears; Illes                                 19216
              Canarias                                       59514
              Cantabria                                      10813
              Castilla - La Mancha                           51741
              Castilla y León                                38616
              Cataluña                                      108080
              Ceuta                                           3447
              Comunitat Valenciana                          106216
              Extremadura                                    30043
              Galicia                                        47574
              Madrid; Comunidad de                           98994
              Melilla                                         2685
              Murcia; Región de                              30419
              Navarra; Comunidad Foral de                    10502
              País Vasco                                     34339
              Rioja; La                                       4514

                                           Paro mujer edad >=45  \
mes           Comunidad Autónoma
Abril de 2020 Andalucía                                  245343
              Aragón                                      21446
              Asturias; Principado de                     22804
              Balears; Illes                              15156
              Canarias                                    69445
              Cantabria                                   11414
              Castilla - La Mancha                        59002
              Castilla y León                             47393
              Cataluña                                   130637
              Ceuta                                        2790
              Comunitat Valenciana                       128012
              Extremadura                                 32659
              Galicia                                     54442
              Madrid; Comunidad de                       113288
              Melilla                                      2279
              Murcia; Región de                           31255
              Navarra; Comunidad Foral de                 10378
              País Vasco                                  36522
              Rioja; La                                    5681

                                           Paro Agricultura  Paro Industria  \
mes           Comunidad Autónoma
Abril de 2020 Andalucía                               71597           61299
              Aragón                                   3591            8990
              Asturias; Principado de                  1433            7211
              Balears; Illes                            828            2986
              Canarias                                 5087            9842
              Cantabria                                 699            3482
              Castilla - La Mancha                    15583           19837
              Castilla y León                          8684           15318
              Cataluña                                 8526           49903
              Ceuta                                      76             471
              Comunitat Valenciana                    13798           58134
              Extremadura                             11034            7017
              Galicia                                  6385           21221
              Madrid; Comunidad de                     2925           23609
              Melilla                                    63             157
              Murcia; Región de                        6704           12502
              Navarra; Comunidad Foral de              2068            5210
              País Vasco                               2764           16730
              Rioja; La                                1590            3592

                                           Paro Construcción  Paro Servicios  \
mes           Comunidad Autónoma
Abril de 2020 Andalucía                               101074          657397
              Aragón                                    5444           55588
              Asturias; Principado de                   7657           60588
              Balears; Illes                            8198           57532
              Canarias                                 26374          197385
              Cantabria                                 3731           32801
              Castilla - La Mancha                     18007          132102
              Castilla y León                          12998          115801
              Cataluña                                 38706          345370
              Ceuta                                      575            8803
              Comunitat Valenciana                     36774          306062
              Extremadura                              11048           80304
              Galicia                                  16358          134031
              Madrid; Comunidad de                     34065          321096
              Melilla                                    663            6780
              Murcia; Región de                        10136           75671
              Navarra; Comunidad Foral de               1990           28021
              País Vasco                                9475           94462
              Rioja; La                                 1168           11689

                                           Paro Sin empleo Anterior
mes           Comunidad Autónoma
Abril de 2020 Andalucía                                       86930
              Aragón                                           5601
              Asturias; Principado de                          6904
              Balears; Illes                                   2998
              Canarias                                        16293
              Cantabria                                        2956
              Castilla - La Mancha                            13490
              Castilla y León                                 13553
              Cataluña                                        25305
              Ceuta                                            1974
              Comunitat Valenciana                            25174
              Extremadura                                      6042
              Galicia                                         13634
              Madrid; Comunidad de                            23328
              Melilla                                          1687
              Murcia; Región de                                9195
              Navarra; Comunidad Foral de                      3153
              País Vasco                                      15212
              Rioja; La                                         904

In [20]:
# data1 has no null values
data1.isnull().values.any()

False

In [19]:
''' 1º Solucionar la importación de funciones
Preguntar por:
- Cómo puede afectar las colummnas mes y comunidad autónoma, que ahora son index. Para la visualización.
- Cómo cambiar el nombre de cada columna del index
- Cómo ordenar la columna mes
- ¿Tengo que poner un nuevo index o tengo que pasar las dos columnas del index a columnas normales?'''

'Antes de todo revisar que no hay valores nulos.\nPreguntar por:\n- Cómo puede afectar las colummnas mes y comunidad autónoma, que ahora son index. Para la visualización.\n- Cómo cambiar el nombre de cada columna del index\n- Cómo ordenar la columna mes\n- ¿Tengo que poner un nuevo index o tengo que pasar las dos columnas del index a columnas normales?'

### 8º Change the name of the columns.